input.error {
    background-color: #FFEBEE !important;
}
 
label.error {
    color: red !important;
}

textarea.error {
    background-color: #FFEBEE !important;
}

.form-group {
    max-width: 100% !important;
}

.puntero {
   cursor: pointer; 
}

.linea_factura {
    padding-right: 0px !important;
    padding-left: 5px !important;
}